@import "override-bootstrap-defaults";
@import "../../node_modules/bootstrap/scss/bootstrap";
body,
html {
    height: 100%;
}

body {
    background-image: url('/images/body-back.png');
    background-size: 100% 100%;
    .container-fluid {
        background-color: rgba(19, 24, 32, 0.800000011920929);
        #base1 {
            background-image: linear-gradient(0deg, #1991EB 0%, #2DA1F8 100%);
            border-radius   : 4px 0 0 4px;
            padding-left    : 25px;
            padding-right   : 35px;
            height          : 45%;
            min-height      : 447px;
            padding-top     : 28px;
            #icon {
                background-image: linear-gradient(0deg, #1267A7 0%, #1268A7 100%);
                border-radius   : 100%;
            }
            #welcome {
                margin-top: 15px;
                p {
                    color        : #FFFFFF;
                    font-family  : HelveticaNeue;
                    font-size    : 26px;
                    font-weight  : 300;
                    margin-bottom: 7px
                }
            }
            #p1 {
                color      : #FFFFFF;
                font-family: HelveticaNeue;
                font-size  : 16px;
                opacity    : 0.5999999642372131;
            }
            #p2 {
                color        : #FFFFFF;
                font-family  : HelveticaNeue;
                font-size    : 20px;
                margin-bottom: 7px
            }
            #p3 {
                color      : #FFFFFF;
                font-family: HelveticaNeue;
                font-size  : 16px;
                opacity    : 0.5999999642372131;
            }
            .row:last-of-type {
                padding    : 1rem 0rem;
                line-height: 1rem;
                position   : absolute;
                bottom     : 0;
                position   : absolute;
                width      : calc( 100% - 30px);
                a {
                    color      : #FFFFFF;
                    font-family: HelveticaNeue;
                    font-size  : 14px;
                    opacity    : 0.5999999642372131;
                }
                .col:not(:last-of-type){
                    border-right: 1px white solid;
                    opacity     : 0.5999999642372131;

                }
            }
        }
        #base2 {
            padding-top     : 28px;
            background-color: #222C3C;
            border-radius   : 0 4px 4px 0;
            height          : 45%;
            min-height      : 447px;
            .login-container {
                margin-top: 18px;
            }
            #email {
                color      : #FFFFFF;
                font-family: HelveticaNeue;
                font-size  : 14px;
                line-height: 17px;
            }
            #password {
                color      : #FFFFFF;
                font-family: HelveticaNeue;
                font-size  : 14px;
                line-height: 17px;
                margin-top : 15px;
            }
            #firstname {
                color      : #FFFFFF;
                font-family: HelveticaNeue;
                font-size  : 14px;
                line-height: 17px;
                margin-top : 15px;
            }
			
			
			 #lastname {
                color      : #FFFFFF;
                font-family: HelveticaNeue;
                font-size  : 14px;
                line-height: 17px;
                margin-top : 15px;
            }
			
			#company {
			    color      : #FFFFFF;
                font-family: HelveticaNeue;
                font-size  : 14px;
                line-height: 17px;
                margin-top : 15px;
			}
			
			 #lastnameInput {
                &:focus {
                    border: #1A91EB 1px solid;
                }
                background-color: #273142;
                border          : 1px solid #313D4F;
                border-radius   : 4px;
                height          : 36px;
            }
				
            #firstnameInput {
                &:focus {
                    border: #1A91EB 1px solid;
                }
                background-color: #273142;
                border          : 1px solid #313D4F;
                border-radius   : 4px;
                height          : 36px;
            }
            #emailInput {
                &:focus {
                    border: #1A91EB 1px solid;
                }
                background-color: #273142;
                border          : 1px solid #313D4F;
                border-radius   : 4px;
                height          : 36px;
            }
            #password-input {
                &:focus {
                    border: #1A91EB 1px solid;
                }
                background-color: #273142;
                border          : 1px solid #313D4F;
                border-radius   : 4px;
                height          : 36px;
            }
            #login {
                font-family: HelveticaNeue-Light;
                color      : #FFFFFF;
                font-size  : 18px;
            }
            #button {
                background-image: linear-gradient(0deg, #1991EB 0%, #2DA1F8 98.41%);
                border-radius   : 4px;
                border          : 0;
                width           : 100%;
                color           : white;
                height          : 36px;
            }
            #forgot-pass {
                color      : #7F8FA4;
                font-family: HelveticaNeue;
                font-size  : 14px;
            }
            .row:last-of-type {
                background-color: #273142;
                border-radius   : 0 0 4px 0;
                position        : absolute;
                bottom          : 0;
                width           : 100%;
                padding         : 1rem;
                line-height     : 1rem;
                span {
                    color      : #7F8FA4;
                    font-size  : 14px;
                    font-family: HelveticaNeue;
                    margin     : 0.5rem 0;
                }
                a {
                    color      : #FFFFFF;
                    font-size  : 14px;
                    font-family: HelveticaNeue;
                }
            }
        }
    }
}